body {
  margin: 0;
  margin-top: 60px;
  background-color: #f4f5f8;
  font-family: 'Yu Gothic', YuGothic, 'Hiragino Sans',
    'Hiragino Kaku Gothic ProN', Verdana, 'メイリオ', Meiryo, sans-serif !important;
  color: rgba(0, 0, 0, 0.6);
}

h1 {
  font-weight: 700 !important;
  font-family: 'Yu Gothic', YuGothic, 'Hiragino Sans',
    'Hiragino Kaku Gothic ProN', Verdana, 'メイリオ', Meiryo, sans-serif !important;
}
@media screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
  .manage-container {
    margin: 0;
  }
}
@media screen and (min-width: 1024px) {
  .sp-only {
    display: none;
  }
  .manage-container {
    margin-left: 250px;
  }
}
.flex {
  display: flex;
}

.bold {
  font-weight: bold;
}

.fs15rem {
  font-size: 1.5rem;
}

.ml100 {
  margin-left: 100px;
}

input[type='button'],
input[type='text'],
input[type='submit'],
input[type='image'],
textarea {
  outline: none !important;
}

*:focus {
  outline: none;
}

input[type='text'],
input[type='password'],
textarea,
select {
  outline: none;
}

input[type='text'],
input[type='password'],
textarea,
select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border-color: none !important;
}

.fs12 {
  font-size: 1.2rem;
}

.wi100 {
  width: 100%;
}
.wi30 {
  width: 30%;
}
.wi40 {
  width: 40%;
}
.wi45 {
  width: 45%;
}
.wi50 {
  width: 50%;
}
.wi100 {
  width: 100%;
}
.wi-100 {
  width: 100px;
}
.wi-200 {
  width: 200px;
}
.wi-300 {
  width: 300px;
}

.rounded-md {
  border-radius: 0.375rem;
}

a {
  text-decoration: none;
}
.justify-space {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-right {
  justify-content: right;
}
.gap-10 {
  gap: 10px;
}
.gap-20 {
  gap: 20px;
}
.gap-30 {
  gap: 30px;
}
.gap-40 {
  gap: 40px;
}

.manage-title {
  padding: 1rem;
  background-color: #a5e9d8;
  /* background-color: #a5e9d8; */
  text-align: center;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.45);
}

.content-wrap-1000 {
  width: 1000px;
  margin: 4rem auto 0 auto;
}
.content-wrap-1200 {
  width: 1200px;
  margin: 4rem auto 0 auto;
}
.content-wrap-1300 {
  width: 1300px;
  margin: 4rem auto 0 auto;
}
.content-wrap {
  width: 800px;
  margin: 4rem auto 0 auto;
}
.item::before {
  color: #009b9e;
  content: '■';
  font-size: 100%;
  margin-right: 10px;
}
.al-center {
  align-items: center;
}
.button-area {
  text-align: center;
  margin: 2rem auto;
}
.sticky {
  position: sticky;
}
.z-999 {
  z-index: 999;
}
.top-0 {
  top: 0;
}
.bg-white {
  background-color: #fff;
}
.bg-red {
  background-color: #e60000;
}
.bg-madgray {
  background-color: #808080;
}
.bg-gray {
  background-color: #ddd;
}
.color-white {
  color: #fff;
}
.fs-08 {
  font-size: .8rem;
}
.fs-1 {
  font-size: 1rem;
}
.p0 {
  padding: 0 !important;
}
.p1 {
  padding: 1rem !important;
}
.px1 {
  padding: 0 1rem !important;
}
.mt1 {
  margin-top: 1rem;
}
.mb1 {
  margin-bottom: 1rem;
}
.mb2 {
  margin-bottom: 2rem;
}
.mr1 {
  margin-right: 1rem;
}
.ml1 {
  margin-left: 1rem;
}
.b-gray {
  border: 1px solid #ddd;
}
.color-display-span {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-left: 50px;
}
.focus-green:focus {
  background-color: #a5e9d8;
  color: #fff;
}
.text-r {
  text-align: right;
}
.text-c {
  text-align: center;
}
.text-l {
  text-align: left;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.top-0 {
  top: 0;
}
.right-0 {
  right: 0;
}
.left-0 {
  left: 0;
}
.bottom-0 {
  bottom: 0;
}
@media screen and (max-width: 767px) {
  .content-wrap-1000 {
    width: 100%;
    margin: 4rem auto;
    padding: 0 1rem;
  }
}
td.fc-timegrid-slot.fc-timegrid-slot-label{
  font-size: 0.7rem;
  font-weight: bold;
}
td.fc-timegrid-slot.fc-timegrid-slot-lane.fc-timegrid-slot-minor{
  font-size: 0.7rem;
  font-weight: bold;
}
td.fc-timegrid-slot.fc-timegrid-slot-lane{
  font-size: 0.7rem;
  font-weight: bold;
}

.btnRadio {
  display: none;
}
.btnRadio:checked + label {
  background: #027c7e; /* マウス選択時の背景色を指定する */
  color: #ffffff; /* マウス選択時のフォント色を指定する */
}
.btnRadioLabel {
  display: block; /* ブロックレベル要素化する */
  float: left; /* 要素の左寄せ・回り込を指定する */
  height: 45px; /* ボックスの高さを指定する */
  padding-left: 5px; /* ボックス内左側の余白を指定する */
  padding-right: 5px; /* ボックス内御右側の余白を指定する */
  color: #333; /* フォントの色を指定 */
  text-align: center; /* テキストのセンタリングを指定する */
  line-height: 45px; /* 行の高さを指定する */
  cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
  border: 1px solid #027c7e;
  border-radius: 0;
}
.btnRadioLabel:hover {
  background-color: #027c7e; /* マウスオーバー時の背景色を指定する */
  color: white;
}